.back-button {
  background: white;
  width: 50px;
  border: 3px solid black;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
  border: 5px outset #eaeaea;
  box-shadow: 7px 5px 6px 1px rgba(2, 2, 2, 0.3);
}

.back-button > img {
  width: 60%;
  margin: auto;
  display: block;
  padding: 10px;
}
