html {
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-position: cover;
  background-attachment: fixed;
  background: linear-gradient(
    180deg,
    rgba(252, 30, 29, 1) 0%,
    rgba(253, 191, 45, 1) 34%,
    rgba(253, 191, 45, 1) 50%,
    rgba(0, 0, 0, 1) 86%
  );
}
