.map-container {
  background-color: none;
}

.map-container > img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#text-container {
  display: flex;
  position: absolute;
  top: 80px;
  z-index: -1;
}
.tw-container {
  width: 460px;
  font-size: 14px;
  position: relative;
  font-weight: bold;
  font-family: sans-serif;
}

.tw-container.left {
  left: 100px;
}
.tw-container.left > .two {
  margin-top: 13px;
  position: absolute;
  left: 60px;
}

.tw-container.right {
  left: 10%;
}
.tw-container.right > .two {
  margin-top: 13px;
  position: absolute;
  left: 60px;
}

.map-area {
  width: 70%;
  margin: auto;
}

.map-area > svg {
  transform: translate(0px, -100px);
}

.split #vic {
  transform: translate(3px, 30px);
  transition: transform 1s;
}

.split #wa {
  transform: translate(-30px, 800px) scale(0.1, -0.1);
  transition: transform 1s;
}

.split #qld {
  transform: translate(18px, -19px);
  transition: transform 1s;
}

.split #NT {
  transform: translate(-4px, 2370px) scale(0.1, -0.1);
  transition: transform 1s;
}

.split #sa {
  transform: translate(-20px, 486px) scale(0.1, -0.1);
  transition: transform 1s;
}
