.map-container {
  background-color: none;
  overflow-y: hidden;
  transition: opacity 5s;
}

.map-container > img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* #text-container {
  display: flex;
  position: absolute;
  top: 80px;
  z-index: -1;
  transition: opacity;
} */

#text-container {
  width: 100%;
}

#text-container.hide {
  opacity: 0;
  display: none;
}

/* .tw-container {
  width: 460px;
  font-size: 14px;
  position: relative;
  font-weight: bold;
} */
.button-wrapper {
  border: 3px solid black;
  width: 194.5px;
  margin: 15px auto;
  text-align: center;
}
.button {
  background: white;
  width: 182px;
  cursor: pointer;
  /* min-width: 50px; */
  /* min-height: 50px; */
  border: 5px outset #eaeaea;
  box-shadow: 7px 5px 6px 1px rgba(2, 2, 2, 0.3);
  font-weight: 700;
  /* font-style: italic; */
  padding: 1px;
  font-size: 25px;
  line-height: 40px;
}

.tw-container.center {
  padding: 13% 13% 34px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.tw-container.left {
  left: 100px;
}
.tw-container.left > .two {
  margin-top: 13px;
  position: absolute;
  left: 60px;
}

.tw-container.right {
  left: 10%;
}
.tw-container.right > .two {
  margin-top: 13px;
  position: absolute;
  left: 60px;
}

.lottie-container {
  width: 52%;
  margin: 20px auto 0;
}

.map-area {
  width: 55%;
  left: 24%;
  top: 70px;
  position: absolute;
  pointer-events: none;
  transition: opacity 10s;
}

.map-area.hide {
  opacity: 0;
}

.map-area > svg {
  pointer-events: none;
}

#AUSTRALIA {
  opacity: 0;
}

#vic,
#wa,
#qld,
#NT,
#NSW,
#sa {
  transition: transform 7s;
}

#NSW {
  transform: translate(0px, -9px);
}
#qld {
  transform: translate(-7px, 6px);
}

#vic {
  transform: translate(-2px, -2.4px) rotate(-0.6deg);
}
.split #vic {
  transform: translate(3px, 30px);
}

.split #wa {
  transform: translate(-30px, 800px) scale(0.1, -0.1);
}

.split #qld {
  transform: translate(18px, -19px);
}

.split #NT {
  transform: translate(-4px, 2370px) scale(0.1, -0.1);
}

.split #sa {
  transform: translate(-20px, 486px) scale(0.1, -0.1);
}

@media screen and (max-width: 768px) {
  .map-area {
    width: 81%;
    left: 8%;
  }
  .lottie-container {
    width: 92%;
  }
  .tw-container.center {
    font-size: 20px;
  }
}
