.map-container {
  background-color: none;
}

.map-container > img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#text-container {
  display: flex;
  position: absolute;
  top: 80px;
  z-index: -1;
  transition: opacity;
}

#text-container.hide {
  opacity: 0;
}

.tw-container {
  width: 460px;
  font-size: 14px;
  position: relative;
  font-weight: bold;
}

.tw-container.left {
  left: 100px;
}
.tw-container.left > .two {
  margin-top: 13px;
  position: absolute;
  left: 60px;
}

.tw-container.right {
  left: 10%;
}
.tw-container.right > .two {
  margin-top: 13px;
  position: absolute;
  left: 60px;
}

.map-area {
  width: 70%;
  left: 200px;
  top: 70px;
  position: absolute;
  pointer-events: none;
  transition: opacity 1s;
}

.map-area.hide {
  opacity: 0;
}

.map-area > svg {
  pointer-events: none;
}

#AUSTRALIA {
  opacity: 0;
}

#vic,
#wa,
#qld,
#NT,
#sa {
  transition: transform 1s;
}

.split #vic {
  transform: translate(3px, 30px);
}

.split #wa {
  transform: translate(-30px, 800px) scale(0.1, -0.1);
}

.split #qld {
  transform: translate(18px, -19px);
}

.split #NT {
  transform: translate(-4px, 2370px) scale(0.1, -0.1);
}

.split #sa {
  transform: translate(-20px, 486px) scale(0.1, -0.1);
}
